* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

}

.container-slider {
    width: 100%;
    max-width: 900px;
    margin: auto;
    position: relative;
}

.slider {
    display: flex;
    width: 900%;
    height: 720px;
    margin-right: 100px;
    margin-left: -600px;
    overflow: hidden;

}


.slider__section {
    margin-right: 100px;
    margin-left: -600px;
    width: 500%;
    height: 720px;
    display: table-column;
    max-width: 50%;
    min-height: 50%;
    align-items: center;
    justify-content: center;

}


.slider img {
    max-width: 80%;
}

#container-slider {
    width: 700px;
    height: 5%;
    justify-content: center;
    align-items: center;
}

.slider__btn {
    position: absolute;
    font-size: 60px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: rgb(93, 93, 93);
    transform: translateY(-90%);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}

.slider__btn:hover {
    color: rgb(201, 165, 63);

}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.nav-main ul li a {
    color: black;

}



#landing-page {
    background-color: rgb(37, 37, 37);
    position: relative;
}

#landing-page img {
    display: block;
    width: 100%;
    height: 700p;
}

#landing-page-button {
    position: absolute;
    top: 62%;
    left: 13%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: flex-start;
}

#main-btn {
    width: 20px;
    height: 10px;
    background-color: #E9E9E9;
}

#main-btn :hover{
    opacity: .7;
    cursor: grabbing;
}

#landing-page-text {
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #ffffff;
    text-align: flex-start;
}

#corvette-page img {
    width: 100%;

}

#corvette-text {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

#corvette-text h1 {
    font-size: 75px;
}

#corvette-text p {
    margin-top: 10px;
    color: #e4e4e4;
    font-size: 15px;
    font-weight: light;
}



#landing-page-text h1 {
    font-size: 75px;
}

#landing-page-text p {
    color: #ffffff;
    font-size: 30px;
    font-weight: light;
}

.nav-main {

    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;

}

.nav-brand {
    width: 50px;
}

.nav-main img {
    width: 110px;
    height: 40px;
    padding-left: 10px;
}

.nav-main ul {
    display: flex;
    margin-top: 1%;
    justify-content: center;
}


.nav-main ul li {
    padding: 10px;
    list-style: none;

}

.nav-main ul li a {
    padding: 2px;
    text-decoration: none;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid rgb(201, 165, 63);
}

.carousel img {
    width: 100%;
}

.categories-section ul li:hover {
    border-bottom: 3px solid black;
}

ul li {
    padding: 10px;
    list-style: none;
}

ul li a {
    padding: 2px;
    text-decoration: none;

}


.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;

}

#carousel h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 78px;
    text-align: center;
    color: rgb(24, 24, 24);
}

#categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-top: 2%;
}

#categories-title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: rgb(20, 20, 20);
    font-size: 50px;

}

#main-title-cars {
    margin-left: 34%;
}

#container-slider h2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: rgb(93, 93, 93);
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 60px;
}

#container-slider {
    margin-bottom: 30px;
}

.categories-titles {
    padding-right: 1%;
    padding-left: 1%;
}

input[type="radio"] {
    display: none
}

label {
    text-align: center;
    cursor: pointer;
}

label:hover {
    border-bottom: 2px solid rgb(201, 165, 63);
}

#filter {
    display: block;
}

#filter-options {
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
    align-items: center;
    margin-left: 30px;
    margin-left: 30px;
}
#filter-options article:hover{
    transform: scale(1.05);
    cursor: pointer;
}
#filter-options section{
    margin-left: 30px;
    margin-right: 30px;
}
#filter-options article{
    margin-left: 10px;
    margin-right: 10px;
}


.suvs {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.suvs img {
    width: 425px;
    height: 215px;
}

.suvs article {
    width: 425px;
    height: 300px;
    background-color: #4D515A;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 51px -18px rgba(168, 168, 168, 0.5);
}

.trucks {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.trucks img {
    width: 425px;
    height: 215px;
}

.trucks article {
    width: 425px;
    height: 300px;
    background-color: #C9A535;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 51px -18px rgba(168, 168, 168, 0.5);
}

.electric {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.electric img {
    width: 425px;
    height: 215px;
}

.electric article {
    width: 425px;
    height: 300px;
    background-color: #4D515A;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 51px -18px rgba(168, 168, 168, 0.5);
}

.cars {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.cars img {
    width: 425px;
    height: 215px;
}

.cars article {
    width: 425px;
    height: 300px;
    background-color: #C9A535;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 51px -18px rgba(168, 168, 168, 0.5);
}

.performance {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.performance img {
    width: 425px;
    height: 215px;
}

.performance article {
    width: 425px;
    height: 300px;
    background-color: #4D515A;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 51px -18px rgba(168, 168, 168, 0.5);
}

.texts-article-vehicles {
    color: white;
    margin-top: 1%;
    margin-left: 4%;
}

.texts-article-vehicles p {
    color: white;
}

#categories-section #suvs:checked~#filter-options .trucks,
#categories-section #suvs:checked~#filter-options .electric,
#categories-section #suvs:checked~#filter-options .cars,
#categories-section #suvs:checked~#filter-options .performance {
    display: none;
}

#categories-section #trucks:checked~#filter-options .suvs,
#categories-section #trucks:checked~#filter-options .electric,
#categories-section #trucks:checked~#filter-options .cars,
#categories-section #trucks:checked~#filter-options .performance {
    display: none;
}

#categories-section #electric:checked~#filter-options .suvs,
#categories-section #electric:checked~#filter-options .trucks,
#categories-section #electric:checked~#filter-options .cars,
#categories-section #electric:checked~#filter-options .performance {
    display: none;
}

#categories-section #cars:checked~#filter-options .suvs,
#categories-section #cars:checked~#filter-options .trucks,
#categories-section #cars:checked~#filter-options .electric,
#categories-section #cars:checked~#filter-options .performance {
    display: none;
}

#filter-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 30px 30px 30px;
    margin-right: 30px;
}

#categories-section #performance:checked~#filter-options .suvs,
#categories-section #performance:checked~#filter-options .trucks,
#categories-section #performance:checked~#filter-options .electric,
#categories-section #performance:checked~#filter-options .cars {
    display: none;
}

.rectangle {
    margin-top: -150px;
}


footer {
    margin-top: 3%;
    background-color: aqua;
}

#logo-footer {
    width: 150px;
    height: 85px;
    margin: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

#footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #D9D9D9;
}


#footer-container ul {
    width: 1000px;
}

#footer-container li {
    margin-top: 12%;
    margin-left: 10%;
    padding: 0%;
}

#footer-container h1 {
    font-size: 20px;
    color: #5D5D5D;
    margin-bottom: 4%;
}

#footer-container p {
    color: #7D7D7D;
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 4%;
}

#parts-section {
    background-color: #8D8D8D;
}

#parts-title-container {
    display: flex;
}

#parts-title-container img {
    width: 25%;
}

#first-title-parts {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

#second-title-parts {
    font-size: 50px;
    font-weight: 500;
    color: white;
}

#parts-title-container article {
    display: block;
    margin-top: 4%;
    margin-left: 3%;
}

#parts-subtitle {
    color: #2e2d2d;
    justify-content: flex-start;
    font-size: 25px;
    margin-left: 1%;
    margin-top: 1%;
}

#featured-parts-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}

.card-parts-section img {
    width: 400px;
}

#location-text {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    color: black;
    text-decoration: none;
    margin-left: 30px;
}

.card-parts-section {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.card-parts-section h2 {
    display: flex;
    font-size: 30px;
    color: #5D5D5D;
    justify-content: center;
    margin-top: 2%;
}

.card-parts-section p {
    display: flex;
    color: #5D5D5D;
    justify-content: center;
}

#btn-services {
    background-color: rgb(93, 93, 93);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
#btn-services:hover {
    color: #4d4d4d;
    background-color: #b3b3b3;
    transform: scale(1.1);
    cursor: pointer;
}
#btn-corvette {
    background-color: #f2f2f2;
    border: none;
    color: rgb(65, 65, 65);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#featured-parts-section img:hover{
    transform: scale(1.02);
    cursor: pointer;

}

#featured-parts-section img{
    height: 300px;
    width: 450px;
}
#featured-parts-section h2{
margin-top: 10%;
}

#btn-corvette:hover {
    color: #f2f2f2;
    background-color: #656565;
    transform: scale(1.1);
    cursor: pointer;
    
}

#btn-corvette i {
    color: rgb(93, 93, 93);

}

#btn-euv1 {
    width: 139px;
    height: 54px;
    margin-left: 135px;
    background-color: #7f7f7f;
    border: none;
    color: #f2f2f2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#btn-euv1:hover {
    color: #7f7f7f;
    background-color: #f2f2f2;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-euv2 {
    margin-left: 10px;
    background-color: #7f7f7f;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#btn-euv2:hover {
    color:#7f7f7f ;
    background-color: #f2f2f2;
    transform: scale(1.1);
    cursor: pointer;
}

#post-service {
    margin-right: 3%;
}

#content-service {
    display: flex;
    margin-left: 3%;
    justify-content: space-between;
}


#p-services {
    margin-left: 3%;
}

#service-img {
    width: 95%;
    margin-left: 3%;
    margin-right: 3%;
}

@media (max-width: 700px) {
    .nav-main {
    }
    #landing-page-text h1 {
        font-size: 40px;
        margin-left: 75px;
    }
    #landing-page-text p {
        margin-top: 75px;
        font-size: 0px;
    
    }
    #landing-page-text h3 {
        margin-top: 100px;
        font-size: 15px;
        margin-left: 75px;
    }
    #landing-page-button button #btn-euv1{
        display: flexbox;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 40px;
    }
    #categories-section h2 {
        font-size: 30px;
        margin-left: 20px;
    }

    #categories-title {
        justify-content: center;
        align-items: center;
        align-items: baseline;

    }

    #filter-options {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #filter-options p{
        margin-left: 20px;
    }

    #corvette-page h1{
        font-size: 40px;
        margin-left: 5px;
    }

    #btn-corvette {
        display: flex;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
    }

    #container-slider {
        width: 100%;
        height: 400px;
        justify-content: space-around;
        justify-content: center;
        align-items: center;

    }
    #container-slider img{
        width: 400px;
        height: 220px;
        justify-content: center;
    }
    #btn-services {
        display: flex;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
    }

    #parts-section {
        width: 100%;
        height: 200px;
    }
    #parts-section img{
        width: 50%;
        height: 200px;
    }
    #parts-section h1 {
        font-size: 30px;
    }
    #parts-subtitle{
        font-size: 20px;
        margin-left: 10px;
    }

    #featured-parts-section{
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    #featured-parts-section img{
        width: 300px;
        height: 200px;
        
    }

    #featured-parts-section h2 {
        font-size: 25px;
    }
    #featured-parts-sectionp {
        font-size: 100px;
    }

}